In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [8]:
dataset = pd.read_csv('Social_Network_Ads.csv')
dataset.head()
X = dataset.drop(['User ID','Purchased'],axis=1)
y = dataset['Purchased']

In [11]:
X.head()

   Gender  Age  EstimatedSalary
0    Male   19            19000
1    Male   35            20000
2  Female   26            43000
3  Female   27            57000
4    Male   19            76000

In [21]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for column in X.columns:
    X[column] = le.fit_transform(X[column])
X.head()

   Gender  Age  EstimatedSalary
0       1    1                4
1       1   17                5
2       0    8               26
3       0    9               39
4       1    1               57

In [20]:
X.columns

Index(['Gender', 'Age', 'EstimatedSalary'], dtype='object')

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=0)

In [ ]:
# Now we doing featutre scaling to the training and test set of independent variables for reducing the size to smaller values

from sklearn.preprocessing import StandardScaler
sc= StandardScaler()