### How to do multilevel indexing??

In [48]:
import pandas as pd

In [49]:
stocks = pd.read_csv('http://bit.ly/smallstocks')

In [50]:
stocks

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT
5  2016-10-04   31.35  18460400   CSCO
6  2016-10-05   57.64  16726400   MSFT
7  2016-10-05   31.59  11808600   CSCO
8  2016-10-05  113.05  21453100   AAPL

In [5]:
stocks.index

RangeIndex(start=0, stop=9, step=1)

In [6]:
stocks.groupby('Symbol').Close.mean()

Symbol
AAPL    112.856667
CSCO     31.480000
MSFT     57.433333
Name: Close, dtype: float64

In [8]:
ser=stocks.groupby(['Symbol','Date']).Close.mean()
ser

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [9]:
ser.index

MultiIndex([('AAPL', '2016-10-03'),
            ('AAPL', '2016-10-04'),
            ('AAPL', '2016-10-05'),
            ('CSCO', '2016-10-03'),
            ('CSCO', '2016-10-04'),
            ('CSCO', '2016-10-05'),
            ('MSFT', '2016-10-03'),
            ('MSFT', '2016-10-04'),
            ('MSFT', '2016-10-05')],
           names=['Symbol', 'Date'])

In [10]:
ser.unstack()

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [12]:
df= stocks.pivot_table(values='Close',index='Symbol',columns='Date') # it will directly give mean of the term present in values
df

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [20]:
ser
df

# if it would be df then also all the selection properties will work thw same
# ser.unstack()= df

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [21]:
df.loc['AAPL']

Date
2016-10-03    112.52
2016-10-04    113.00
2016-10-05    113.05
Name: AAPL, dtype: float64

In [23]:
df.loc['AAPL','2016-10-03']

112.52

In [24]:
df.loc[:,'2016-10-03']

Symbol
AAPL    112.52
CSCO     31.50
MSFT     57.42
Name: 2016-10-03, dtype: float64

In [30]:
stocks.set_index(['Symbol','Date'],inplace = True)
stocks

                    Close    Volume
Symbol Date
CSCO   2016-10-03   31.50  14070500
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500
AAPL   2016-10-04  113.00  29736800
MSFT   2016-10-04   57.24  20085900
CSCO   2016-10-04   31.35  18460400
MSFT   2016-10-05   57.64  16726400
CSCO   2016-10-05   31.59  11808600
AAPL   2016-10-05  113.05  21453100

In [33]:
stocks.index

MultiIndex([('CSCO', '2016-10-03'),
            ('AAPL', '2016-10-03'),
            ('MSFT', '2016-10-03'),
            ('AAPL', '2016-10-04'),
            ('MSFT', '2016-10-04'),
            ('CSCO', '2016-10-04'),
            ('MSFT', '2016-10-05'),
            ('CSCO', '2016-10-05'),
            ('AAPL', '2016-10-05')],
           names=['Symbol', 'Date'])

In [35]:
stocks.sort_index(inplace=True) # first it wiil sort the outer index level and then inner index level
stocks

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

In [36]:
stocks.loc['AAPL']

             Close    Volume
Date
2016-10-03  112.52  21701800
2016-10-04  113.00  29736800
2016-10-05  113.05  21453100

In [37]:
stocks.loc[('AAPL','2016-10-03'),:]

Close          112.52
Volume    21701800.00
Name: (AAPL, 2016-10-03), dtype: float64

In [38]:
stocks.loc[('AAPL','2016-10-03'),'Close']

112.52

In [39]:
stocks.loc[(['AAPL','MSFT'],'2016-10-03'),:]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500

In [41]:
stocks.loc[(['AAPL','MSFT'],'2016-10-03'),'Close']

Symbol  Date
AAPL    2016-10-03    112.52
MSFT    2016-10-03     57.42
Name: Close, dtype: float64

In [44]:
stocks.loc[('AAPL',['2016-10-03','2016-10-04']),'Close']

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
Name: Close, dtype: float64

In [46]:
#stocks.loc[(:,['2016-10-03','2016-10-04']),:]
# logically it should be correct but we need to write their 
stocks.loc[(slice(None) ,['2016-10-03','2016-10-04']),:]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900

In [52]:
close = pd.read_csv('stocks.csv',usecols=[0,1,3],index_col=['Symbol','Date'])
close

FileNotFoundError: [Errno 2] No such file or directory: 'stocks.csv'

In [ ]:
# supppose you have two dataframes named as close and volume , they both have same multilevel index but have different columns then we can merge 
both = pd.merge(close.volume,left_index = True,right_index=True)
both

In [53]:
# if we are using both.reset_index() then we can get the original data without multilevel indexing

### How do I merge two DataFrames

In [54]:
import pandas as pd

In [56]:
movie_cols = ['movie_id','title']
movies = pd.read_table('data/u.item',sep='|',header = None, names=movie_cols,usecols=[0,1])
movies.head()

FileNotFoundError: [Errno 2] No such file or directory: 'data/u.item'

### 4 time saving tricks

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
df = pd.DataFrame([[12,25,2017,10],[1,15,2018,11]],columns=['month','day','year','hour'])
df

   month  day  year  hour
0     12   25  2017    10
1      1   15  2018    11

In [4]:
pd.to_datetime(df)

0   2017-12-25 10:00:00
1   2018-01-15 11:00:00
dtype: datetime64[ns]

In [5]:
pd.to_datetime(df[['month','day','year']])

0   2017-12-25
1   2018-01-15
dtype: datetime64[ns]

In [7]:
# overwrite the index
df.index = pd.to_datetime(df[['month','day','year']])
df

            month  day  year  hour
2017-12-25     12   25  2017    10
2018-01-15      1   15  2018    11

###Creating a category column during file reading

###Creating a category column during file reading

In [9]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry',dtype = {'continent':'category'})
drinks.dtypes

country                           object
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

### Convert the data types of multiple columns at once

In [12]:
#old way
drinks['beer_servings'] = drinks.beer_servings.astype('float')
drinks['spirit_servings']= drinks.spirit_servings.astype('float')
drinks.dtypes

country                           object
beer_servings                    float64
spirit_servings                  float64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [15]:
# new way
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks = drinks.astype({'beer_servings':'float','spirit_servings':'float'})
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                 float64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

### Apply multiple aggregations on a Series or DataFrame

In [16]:
# single aggregation function after groupby
drinks.groupby('continent').beer_servings.mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64

In [17]:
# multiple aggregate functions
drinks.groupby('continent').beer_servings.agg(['mean','min','max'])

                     mean   min    max
continent
Africa          61.471698   0.0  376.0
Asia            37.045455   0.0  247.0
Europe         193.777778   0.0  361.0
North America  145.434783   1.0  285.0
Oceania         89.687500   0.0  306.0
South America  175.083333  93.0  333.0

In [20]:
# new 
drinks.beer_servings.agg(['mean','min','max'])

mean    106.160622
min       0.000000
max     376.000000
Name: beer_servings, dtype: float64

In [21]:
drinks.agg(['mean','min','max'])

TypeError: Could not convert AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua & BarbudaArgentinaArmeniaAustraliaAustriaAzerbaijanBahamasBahrainBangladeshBarbadosBelarusBelgiumBelizeBeninBhutanBoliviaBosnia-HerzegovinaBotswanaBrazilBruneiBulgariaBurkina FasoBurundiCote d'IvoireCabo VerdeCambodiaCameroonCanadaCentral African RepublicChadChileChinaColombiaComorosCongoCook IslandsCosta RicaCroatiaCubaCyprusCzech RepublicNorth KoreaDR CongoDenmarkDjiboutiDominicaDominican RepublicEcuadorEgyptEl SalvadorEquatorial GuineaEritreaEstoniaEthiopiaFijiFinlandFranceGabonGambiaGeorgiaGermanyGhanaGreeceGrenadaGuatemalaGuineaGuinea-BissauGuyanaHaitiHondurasHungaryIcelandIndiaIndonesiaIranIraqIrelandIsraelItalyJamaicaJapanJordanKazakhstanKenyaKiribatiKuwaitKyrgyzstanLaosLatviaLebanonLesothoLiberiaLibyaLithuaniaLuxembourgMadagascarMalawiMalaysiaMaldivesMaliMaltaMarshall IslandsMauritaniaMauritiusMexicoMicronesiaMonacoMongoliaMontenegroMoroccoMozambiqueMyanmarNamibiaNauruNepalNetherlandsNew ZealandNicaraguaNigerNigeriaNiueNorwayOmanPakistanPalauPanamaPapua New GuineaParaguayPeruPhilippinesPolandPortugalQatarSouth KoreaMoldovaRomaniaRussian FederationRwandaSt. Kitts & NevisSt. LuciaSt. Vincent & the GrenadinesSamoaSan MarinoSao Tome & PrincipeSaudi ArabiaSenegalSerbiaSeychellesSierra LeoneSingaporeSlovakiaSloveniaSolomon IslandsSomaliaSouth AfricaSpainSri LankaSudanSurinameSwazilandSwedenSwitzerlandSyriaTajikistanThailandMacedoniaTimor-LesteTogoTongaTrinidad & TobagoTunisiaTurkeyTurkmenistanTuvaluUgandaUkraineUnited Arab EmiratesUnited KingdomTanzaniaUSAUruguayUzbekistanVanuatuVenezuelaVietnamYemenZambiaZimbabwe to numeric